<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2025.3.1002(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2025 Q3\" />
    <add key="Telerik UI for ASP.NET Core 2025.3.1002(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2025 Q3\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>